<h1>Hello from {{ name }}!</h1>
<a target="_blank" href="https://angular.io/start">
  Learn more about Angular
</a>
<menu-component> </menu-component>

<!-- nome disso é data binding (estudar a documentacao sobre )-->
<!-- Data binding = assosiação de dados-->
<!-- Interpolação-->
<my-button label = {{buttonLabel}}> </my-button><!-- passando com os bigodinho {{}} ele espera uma variavel-->
<my-button [label] ="buttonSecond"> </my-button><!-- é igual ao primeiro modo, esperando uma variavel-->


<!-- Property Binding-->
<my-button label ="Corinthians"> </my-button><!-- ele espera um texto em vez de uma variavel-->
<my-button [label] ="'buttonSecond'"> </my-button> <!-- ele pega o texto de forma liteal-->

<!-- two way data binding-->
<entry-data></entry-data>
